<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        
        function TabMenu() {
            // 프로퍼티생성
            this.$tabMenu = null;
            this.$menuItems = null;
            this.$selectMenuItem = null;

            // 요소초기화
            this.init = function(selector){
                this.$tabMenu = $(selector);
                this.$menuItems = this.$tabMenu.find("li");
            };

            // 이벤트등록
            this.initEvent = function(){
                var objThis = this;
                this.$menuItems.on("click",function(){
                    objThis.setSelectItem($(this));
                });
            };

            // $menuItem 에해당하 는메 뉴아이 템선택하기
            this.setSelectItem = function($menuItem){
                // 기 존선택메 뉴아이템 을비활성 화처리하기
                if(this.$selectMenuItem){
                    this.$selectMenuItem.removeClass("select");
                }

                // 신 규아이 템활성 화처리
                this.$selectMenuItem = $menuItem;
                this.$selectMenuItem.addClass("select");
                alert(this.$selectMenuItem.text());
            };
        }

        $(function () {
            var tabMenu1 = new TabMenu();
            tabMenu1.init("#tabMenu1");
            tabMenu1.initEvent();

            var tabMenu2 = new TabMenu();
            tabMenu2.init("#tabMenu2");
            tabMenu2.initEvent();
        });
    </script>
    <title>Title</title>
</head>
<body>
<div>Class TabMenu</div>

<ul id="tabMenu1">
    <li>Select01</li>
    <li>Select02</li>
    <li>Select03</li>
    <li>Select04</li>
    <li>Select05</li>
</ul>
<br><br>

<ul id="tabMenu2">
    <li>Select06</li>
    <li>Select07</li>
    <li>Select08</li>
    <li>Select09</li>
    <li>Select10</li>
</ul>
</body>
</html>