<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function GugudanDisplay(){
            this.$buttons = null;
            this.$buttonsVal = null;
        }

        // class init
        GugudanDisplay.prototype.init = function () {
            this.$buttons = $("#buttonMenu");
            this.$buttonsVal = this.$buttons.find("button");
            this.initEvent();
        };

        // 버튼 에클 릭이벤트 를bind하 는함 수호출
        GugudanDisplay.prototype.initEvent = function () {
            var objThis = this;

            this.$buttonsVal.on("click", function () {
               objThis.setClickEvent($(this));
            });
        };

        // Click Event bind in Buttons
        GugudanDisplay.prototype.setClickEvent = function ($buttonItem) {
            var gugudanNum = $buttonItem.attr("id");
            var result = "";

            for(var i=1; i <10; i++){
                result += gugudanNum + " * " + i + " = " + (gugudanNum*i) + "</br>";
            }

            $("#display").html(result);
        };

        GugudanDisplay.prototype.testDis = function () {
            this.$buttonsVal.each(function (i,v) {
               console.log("i: " + i + ", v: " + $(v).attr("id"));
            });
        };

        $(function () {
           var gugudanDisplay = new GugudanDisplay();
           gugudanDisplay.init();
        });
    </script>
    <title>Title</title>
</head>
<body>
<div id="buttonMenu">
    <Button id="3">3단</Button>
    <Button id="6">6단</Button>
    <Button id="9">9단</Button>
</div>

<div id="display"></div>
</body>
</html>