<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Daum editor insert page</title>
    <link rel="stylesheet" href="css/editor.css" type="text/css" charset="utf-8"/>
    <script src="js/editor_loader.js?environment=development" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<form name="tx_editor_form" id="tx_editor_form" action="http://posttestserver.com/post.php" method="post" accept-charset="utf-8">
    <!-- 에디터 컨테이너 시작 -->
    <div id="tx_trex_container" class="tx-editor-container">

    </div>
    <!-- 에디터 컨테이너 끝 -->
</form>
</body>
</html>